.timer {
  display: flex;
  gap: 5px;
  position: absolute;
  left: 220px;
}

.todo-list li .icon-pause,
.todo-list li .icon-play {
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.todo-list li .icon-pause {
  position: relative;
  bottom: 3px;
  right: 4px;
}

.todo-list li .icon-play {
  font-size: 15px;
}

.icon-pause:after {
  content: '⏸';
}

.icon-play:after {
  content: '▶';
}
